[submodule "aiger"]
	path = dependencies/aiger
	url = https://github.com/Froleyks/aiger.git
[submodule "kissat"]
	path = dependencies/kissat
	url = https://github.com/arminbiere/kissat
[submodule "quabs"]
	path = dependencies/quabs
	url = https://github.com/ltentrup/quabs.git
	ignore = dirty
